<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="mail">{{mail.nom}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin/tabs/(settings:settings)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<ion-item-group>
    <ion-item-divider color="light">Chercher mon adresse</ion-item-divider>
    <ion-item>
      <ion-searchbar
              name="autocompleteAdress"
              [(ngModel)]="autocomplete.query"
              (ionInput)="updateSearch()"
              (ionCancel)="cancel()"
              placeholder="Rechercher">
      </ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">Mes dernières adresses</ion-item-divider>
    <ion-item>
      <ion-label>Vos 8 dernières adresses</ion-label>
      <ion-select name="last" interface="action-sheet" cancelText="Annuler">
        <ion-option *ngFor="let prelocation of prelocations"
                    (ionSelect)="setAddressWithLast(prelocation.address)">{{prelocation.address}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">Mon adresse</ion-item-divider>
    <ion-item>
      <ion-input [(ngModel)]="myAddress" name="address" readonly></ion-input>
    </ion-item>
  </ion-item-group>
  <button ion-button class="changeAddress" full [disabled]="!myAddress" (click)="updateAddress() ">
    <span>Valider cette adresse</span>
  </button>-->
</ion-content>
