<ion-header>
    <ion-toolbar>
        <ion-title>
            <img class="title-image" src="assets/logo_france_nuisibles_fleche.png" width="30px"/>
            Messagerie
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="mails; else spinner">
        <ion-list *ngFor="let mail of mails" lines="full">
            <ion-item [href]="'/admin/tabs/(mail:mail/'+mail.id+')'" detail>
                <ion-label text-wrap>
                    <ion-text><b>{{mail.nom}}: {{mail.titre}}</b> :</ion-text>
                    <p>{{(mail.contenu.length>100)? (mail.contenu | slice:0:100)+'..':(mail.contenu)}}...</p>
                </ion-label>
                <ion-text slot="end" class="date">{{mail.date_message*1000 | date :'d MMMM , HH:mm'}}</ion-text>
            </ion-item>
        </ion-list>
    </div>
    <ng-template #spinner>
        <ion-spinner class="centerSpinner"></ion-spinner>
    </ng-template>
</ion-content>
