
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  margin-top: 30px;
}

ion-spinner * {
  stroke: white !important;
}

.bottom {
  display: block;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 20px;
  vertical-align: bottom;
  height: 50px;
}
