<ion-content padding>
    <img class="center" height="90px" src="assets/france_guepes_logo_mobile_8.png">
    <div padding-top>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email"
                           [(ngModel)]="account.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Mot de passe" name="password"
                           [(ngModel)]="account.password"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" [disabled]="!account.email || !account.password || !showing" (click)="doLogin(account.email, account.password)">
              <span *ngIf="showing">Connexion</span>
              <ion-spinner *ngIf="!showing"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      <ion-button expand="block" fill="clear" (click)="doPrompt()">j'ai perdu mon mot de passe</ion-button>
      <ion-button color="secondary" expand="block" fill="clear" (click)="openPage('https://france-nuisibles.fr/')">S'inscrire sur France
        Nuisible</ion-button>
      <br>
      <span (click)="openPage('https://france-nuisibles.fr/')">
            <img class="center" height="60px" src="assets/logo_france_nuisibles_fleche.png">
            <img class="center" height="60px" src="assets/Texte_logo_france_nuisibles.png">
        </span>
      <img class="bottom" src="assets/logo-edialux-2.png">
    </div>
</ion-content>
