<ion-tabs>
  <ion-tab label="Discussion" icon="chatbubbles" href="/admin/tabs/(message:message)">
    <ion-router-outlet name="message"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Paramètres" icon="settings" href="/admin/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Messagerie" icon="mail" href="/admin/tabs/(mail:mail)">
    <ion-router-outlet name="mail"></ion-router-outlet>
  </ion-tab>
</ion-tabs>

