<ion-header>
    <ion-toolbar>
        <ion-title>
            <img class="title-image" src="assets/logo_france_nuisibles_fleche.png" width="30px"/>
            Fil de discussion
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon color="danger" ios="ios-power" md="md-power"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="messages; else spinner">
        <div class="topPage">
            <ion-list *ngFor="let message of messages" lines="full">
                <ion-item *ngIf="message.requestId;" (click)="lookNotification(message.user, message.requestId)" detail>
                    <ion-label text-wrap>
                        <ion-text><b>{{message.status}} : </b>{{message.content}}</ion-text>
                    </ion-label>
                    <ion-text slot="end" class="date">{{message.date*1000 | date :'d MMMM , HH:mm'}}</ion-text>
                </ion-item>
                <ion-item *ngIf="!message.requestId;">
                    <ion-label text-wrap>
                        <ion-text><b>{{message.uid }}</b> : {{message.content}}</ion-text>
                    </ion-label>
                    <span slot="end" class="date">{{message.date*1000 | date :'d MMMM , HH:mm'}}</span>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ng-template #spinner>
        <ion-spinner class="centerSpinner"></ion-spinner>
    </ng-template>
</ion-content>

<ion-footer>
    <ion-item>
        <ion-input type="text" [(ngModel)]="message" placeholder="Appuyer pour écrire un message"></ion-input>
        <ion-button item-end [disabled]="!message" (click)="newMessage(message)" fill="clear">
            <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
    </ion-item>
</ion-footer>
