<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="mail">{{mail.nom}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="admin/tabs/(mail:mail)"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="mail">
        <h5>{{mail.date_message*1000| date: 'd MMMM y à H:mm'}} de {{mail.type}}</h5>
        <p><b>Departement :</b> {{mail.cp}}</p>
        <p><b>Nom :</b> {{mail.nom}}</p>
        <p><b>Ville :</b> {{mail.villeclient}}</p>
        <p><b>Numéro de téléphone :</b> <a href="tel:{{mail.telephone}}"> {{mail.telephone}}</a></p>
        <p><b>Email</b> : <a href="mailto:{{mail.mail}} ">{{mail.mail}}</a></p>
        <h5>{{mail.titre}}</h5>
        <div>{{mail.contenu}}</div>
    </div>
</ion-content>
