<ion-header>
    <ion-toolbar>
        <ion-title>
            <img class="title-image" src="assets/logo_france_nuisibles_fleche.png" width="30px"/>
            Paramètres
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="settings; else spinner" lines="full">
        <ion-item>
            <ion-icon name="locate" slot="start" color="primary"></ion-icon>
            <ion-label>Ma position</ion-label>
            <ion-toggle name="geolocation " [(ngModel)]="settings.settings.geolocation"
                        (ionChange)="updateGeolocation(settings.settings.geolocation)"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{addressGeolocation}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            <ion-label>Adresse prélocalisée</ion-label>
            <ion-toggle name="prelocation" [(ngModel)]="settings.settings.prelocation"
                        (ionChange)="updatePrelocation(settings.settings.prelocation)"></ion-toggle>
        </ion-item>
        <ion-item [disabled]="!settings.settings.prelocation" href="/admin/tabs/(settings:address)" detail>
            <ion-label>{{addressPrelocation}}</ion-label>
        </ion-item>
        <br>
        <ion-button expand="full" [disabled]="!settings.settings.prelocation" href="/admin/tabs/(settings:address)"
                    color="primary">
            Changer mon adresse de prélocalisation
        </ion-button>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-label text-wrap>
                <h2>A propos de votre compte</h2>
                <ion-text><b>Prénom NOM</b> : {{settings.firstname}} {{settings.lastname | uppercase}}</ion-text>
                <br>
                <ion-text><b>Email</b> : {{settings.mail}}</ion-text>
                <br>
                <ion-text><b>Numéro de téléphone</b> : {{settings.phone}}</ion-text>
                <br>
                <ion-text><b>Type</b> : {{settings.status}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label text-wrap>
                <h2>A propos de l'application</h2>
                <ion-text><b>France Nuisibles</b> : {{version}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label text-wrap>
                <h2>Centre d'Assistance</h2>
                <ion-text><b>Notre Email :</b> <a
                        href="mailto:contact@france-nuisibles.fr">contact@france-nuisibles.fr</a></ion-text>
                <br>
                <ion-text><b>Numéro de téléphone :</b> <a href="tel:0482827427">04 82 82 74 27</a></ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
    <ng-template #spinner>
        <ion-spinner class="centerSpinner"></ion-spinner>
    </ng-template>
</ion-content>
